@font-face {
  font-family: 'icons';
  src:  url('../icons-font/fonts/icons2.eot');
  src:  url('../icons-font/fonts/icons2.eot') format('embedded-opentype'),
    url('../icons-font/fonts/icons2.ttf') format('truetype'),
    url('../icons-font/fonts/icons2.woff') format('woff'),
    url('../icons-font/fonts/icons2.svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
  color: rgba(170, 170, 171, 1);
}
.icon-circle-right:before {
  content: "\ea42";
}
